body {
	font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 18px;
}

hr {
	color: #555555;
	margin: 20px 40px 20px 40px;
}

footer {
	margin: 0 40px 0 40px;
}

.center {
	text-align: center;
}

#ambition_nav {
	background-color: #cccccc;
	padding-left: 80px;
	border-bottom: 1px transparent;
	border-radius: 1px;
}
#ambition_nav .navbar-brand {
	font-size: 24px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
#ambition_nav .navbar-nav>li>a {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	font-size: 16px;
}

#ambition_nav .icon-bar{
	background-color: black;
}

#persistence_block{
	margin: 20px 0 0 0;
}

.god_quote{
	color: red;
	font-size: 30px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















